*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, rgb(90, 90, 95),silver);
    height: 100%;
}
.hi-tag{
    color: #214dbd;
    font-weight: 1000;
}

#login-section{
    padding: 50px 20px;
}

.input-area{
    align-self: center;
    background: linear-gradient(to left, darkblue, skyblue);
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.btn{
    background-color: coral;
}